.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px 0;
}
  .bookContainer {
    position: relative;
    overflow: hidden;
  }

  @media only screen and (min-width: 825px) {
    .container {
       grid-template-columns: repeat(3, 1fr);
    }
  }
  
  /* Styles for desktop (1025px and wider) */
  @media only screen and (min-width: 1025px) {
    .container {
      grid-template-columns: repeat(5, 1fr);
    }
  }
  