.container {
    justify-self: center;
   
}
.inputContainer {
    height: 50px;
    position: relative;
    width: 100%;
  }
.input {
    background-color: transparent;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #000;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
}

.btn {
    background-color: transparent;
    border: none;
}
  